<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function check()
        {
            //id가 'name인 객체를 변수n이 참조하게 한다.'
            //value 는 사용자가 입력한 값 
            let n = document.getElementById('name');
            if (n.value == '')
            {
                //alert('이름을 입력하세요.');
                documet.getElementById('errName').innerHTML = '이름을 입력하세요.';
                return false;
            }

            //"나이를 입력하세요."/"나이를 숫자로 입력하세요."/"나이를 양수로 입력하세요."
            let a = document.getElementById('age'); //.value로 아예 변수 안에 입력은 가능하나 읽기만 가능함 문자열의 원본은 건드릴 수 없음. 
            if (a.value=='') 
            {
                alert("나이를 입력하세요.")
                return false;
            } 
            if (isNaN(a.value))//위에 return이 있기때문에 else if는 무의미함 
            {
                alert("나이를 숫자로 입력하세요.")
                return false;
            }
            if (parseInt(a.value)<1)
            {
                alert("양수로 입력하세요.")
                return false;
            }

            let id = document.getElementById('id');
            if(id.value == '')
            {
                alert("id를 입력하세요.")
                return false;
            }
            if(id.value.length <5 || id.value.length >10)
            {
                alert("ID는 5~10글자로 입력하여주세요.")
                id.focus(); //사용자가 클릭한것과 같음 
                id.select();
               return false;
            }

            let job = document.getElementById('job');
            alert(job.selectedIndex + ',' + job.value);
            return true;
        }

        function calc()
        {
            // let num = document.getElementById('')
            // num3 = num1 + num2 ;
            // return num3;
            // alert ('대화상자');

            let f = document.getElementById('num1');
            let o = document.getElementById('operator');
            let s = document.getElementById('num2');
            let t = document.getElementById('num3');
            
            if (f.value == ''||isNaN(f.value)||s.value == ''||isNaN(s.value)) {
                alert('숫자를 입력하세요.');
                return false;
            }
           
            if (o.value == '+') {
                t.value = Number(f.value) + Number(s.value);
            }
            if (o.value == '-') {
                t.value = Number(f.value) - Number(s.value);
            }
            if (o.value == '*') {
                t.value = Number(f.value) * Number(s.value);
            }
            if (o.value == '/') {
                t.value = Number(f.value) / Number(s.value);
            }

        }

        

    </script>
</head>
<body>
    <h1>[ Form 유효성 검사 ] </h1>
    <form action="js1.html" method="get" onsubmit="return check()"> 
        <!--return check 함수같은 구조 자주 사용됨 . 외울것...? 온서브밋 이벤트가 발생되면 체크라는 함수가 구현이 되고 체크의 리턴값이 참일떄 액션이 실행됨-->
        이름 <input type = "text" name = "name" id="name"><br> <!--name은 서버로 보낼때 id 는 스크립트 class는 css -->
        나이 <input type = "text" name = "age" id = "age"><br>
        ID <input type = "text" name = "id" id = "id"><br>
        직업 <select id = "job">
            <option value = "직업"> 직업을 선택하세요.</option>
            <option value = "학생"> 학생</option> 
            <option value = "회사원"> 회사원</option>     
        </select>
        <br>
        <input type ="submit" value="전송">
    </form>

    <hr>
    <form class = "calc">
        <input type="text" class = "num" id = "num1" style="width: 20px;">
        <select id = "operator">
            <option value="+"> + </option>
            <option value="-"> - </option>
            <option value="/"> / </option>
            <option value="x"> x </option>
        </select>
        <input type="text" class ="num" id = "num2" style="width: 20px;"> 
        = 
        <input type="text" class ="num" id = "num3" style="width: 20px;">
        <input type = "button" value ="계산" onclick = "calc()" >
    </form>
</body>
</html>