<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>front</title>

</head>
<body>
	<h1> [JavaScript / jQuery / Ajax ]</h1>
	
	<h2> * JavaScript </h2>
	<p><a th:href="@{/js/js1}">변수 , 함수</a></p>
	<p><a th:href="@{/js/js2}">객체 </a></p>
	
	<h2>* jQuery</h2>
	<p><a th:href="@{/jq/jq1}"> jQuery 기본 문법, 선택자 </a></p>
	<p><a th:href="@{/jq/jq2}"> 이벤트 처리 </a></p>
	<p><a th:href="@{/jq/jq3}"> 배열과 each() </a></p>
	<p><a th:href="@{/jq/jq4}"> 문서객체 조작 </a></p>
	<p><a th:href="@{/jq/jq5}"> jQuery 기본 문법, 선택자 </a></p>
	
	<p><a th:href="@{/practice}">jQ연습예제</a>
	
	<h2>* Ajax</h2>
    <p><a th:href="@{aj/aj1}">Ajax 요청과 응답</a></p>
    <p><a th:href="@{aj/aj2}">객체 전송</a></p>
    <p><a th:href="@{/comment}">댓글달기</a></p>
	
	
	<p><a th:href="@{/recommend}">Aj연습예제 추천</a>
	<p><a th:href="@{/idcheck}">Aj연습예제 아이디 중복확인</a>
</body>
</html>