<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>방명록 작성 페이지</title>
</head>
<body>
 <!--1. 글번호 - 자동으로 값을 가져와서 보여줌 게시글이 하나도 없으면 1 있으면 다음순서 seq이용 
 	 2. 작성자 이름 
 	 3. 비밀번호 -- 게시글 마다  
 	 4. 글내용 
 	 5. 작성시간 자동으로 가져오게 . -->
 <h1>[ 방명록 작성 ]</h1>
<form action="writeGB" method ="post">
<table>
<!-- 비회원 게시글 작성 -->
<div><p sec:authorize = "!isAuthenticated()">
	<tr> 
		<th> 작성자 </th>
		<td><input type="text" name = "name" id ="name" maxlength="10" required="required"></td> <!-- required : 필수 입력값  -->
	</tr>
	<tr>
		<th> 비밀번호 </th>
		<td><input type="password" name = "password" id="password" maxlength="10" required="required"></td>
	</tr>
</div>
<!-- 회원 게시글작성  -->
<tr>
 	<th> 내용 </th>
 	<td><textarea name = "message" id="message" required="required"></textarea><td>
</tr>
<tr>
 	<td colspan="2" align="center"><input type="submit" value ="저장"></td>
</tr>	
</table>
</form>
</body>
</html>