<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>spring5</title>
</head>
<body>
	<h1>[ Thymeleaf의 Security 관련 속성 ]</h1>
	
	<!-- 로그인 하지않은 경우 -->
	<div sec:authorize="!isAuthenticated()">
		<p>로그인 하지않음 </p>
		<p th:text="${#authentication.name}"></p>
	</div>
	
	<!-- 로그인 했을 떄만 보이는 부분 -->
	<div sec:authorize="isAuthenticated()">
		<p>로그인 했음</p>
		<p th:text="${#authentication}"></p>
		<p th:text="${#authentication.name}"></p>
		<p th:text="${#authentication.principal}"></p>
		<p th:text="${#authentication.principal.enabled}"></p>
		<p th:text="${#authentication.principal.authorities}"></p>
		
		<p sec:authorize="hasRole('USER')">일반 사용자 이므니다.</p> 
		<p sec:authorize="hasRole('ADMIN')">관리자 이므니다.</p>
	</div>
</body>
</html>